@media (max-width: 768px){
    td{
        padding:10px;
    }
}
@media (max-width: 1024px){
    .nav-content > a {
        font-size:14px;
        margin-left: -20px !important;
    }
    td{
        padding:10px !important;
    }
}

@media screen and (min-width:500px){
    #editor_model{
        text-align:center;
    }
   .editor-label {
        display:inline;
    }
   .editor-field{
       display:inline;
   }
   label{
       text-overflow: ellipsis;
       white-space: nowrap;
       overflow: hidden;
       vertical-align:middle;
       padding-bottom:5px;
   }
   .editor-label:nth-child(n)::before{
       
    }
   .editor-field:nth-child(2n)::after{
        content: '';
        width: 100%;
        height: 1px; 
        display:inline-block;
    }
    .text-box {
        width:500px !important;
    }
}
body {
    width:100%;
    height:auto;
    margin:0;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "OpenSans",Arial,sans-serif;
    background:url('../Images/bg_image.jpg') #ad4400 no-repeat;
    background-size:cover;
    background-position:0px 40%;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    background:rgba(255, 250, 255, 0.8);
   /*text-shadow:1px 1px 2px white;*/
    padding-left: 15px;
    padding-right: 15px;
}
h1{
    text-align:center;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

label {
    text-shadow:none;
    text-align:left;
    word-wrap: break-word;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:200 !important;
    font-size:18px;
}
input[type=submit]{
    margin:50px 50px -15px 0px;
    border: medium none;
    color: #fff;
    display: block;
    float:right;
    min-width: 72px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition-delay: 0ms;
    transition-duration: 100ms;
    transition-timing-function: ease;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #2073d4;
    border: 1px solid #2073d4;
}
input[type=submit]:hover,
input[type=submit]:active,
input[type=submit]:focus{
    background-color: #005bbe;
}

#block_404 {
     font-variant:small-caps;
     background: none !important;
}
#nav-fotter{
   display: none;
}
.warning_for_symbol{
   font-size:200px;
   margin:20px;
}

.warning_for_symbol > p{
   padding:20px;
   font-size:25pt;
}

.animate_for_symbol{
    cursor:default;
    transition-timing-function:ease-out;
    transition-duration:0.5s;
    border-radius:50%;
}

.animate_for_symbol:hover{
    transform:rotate(360deg);  
    color:#d9534f;
    box-shadow: inset -5px -5px 0px 5px #8a6d3b;
}

.button_for_symbol {
   font-size:22px !important;
   font-variant:normal;
   word-spacing:-10px;
   text-transform: uppercase;
   margin:20px;
}


#editor_model{
    margin-top:30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 0.25s ease-in-out 0s;
}

#editor_model:hover{
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.editor-label{
    margin:20px auto 20px auto;
    text-align:center;
    margin-bottom: 10px;
}

.editor-field{
    text-align:center;
    margin:20px auto 20px auto;
    width:50%;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.12);
}

.editor-field:last-of-type{
     border-bottom: none;
}

.clear{
    clear:both;
}

.text-box{
    font-size:20px;
    margin: 20px 8px 7px 0;
    min-height: 40px;
    padding-left: 6px;
    width: 100%;
    border: 1px solid #808080;
}

.text-box:active{
    border: 1px solid #007eff;
}
.custom-combobox {
    position: relative;
    display: inline-block;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}

.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}
table{
    background: transparent;
    border: 2px outset black;
    text-align:center;
    box-sizing:border-box;
}
tr {
  background-color: white;
}
thead > tr {
   background-color:whitesmoke;
   font-family:'Malgun Gothic';
   font-size:18px;
}
tr:nth-child(2n) {
   background-color:whitesmoke;
}

td{
    padding:20px;
}
.input-validation-error {
  border: solid 1px red;
}
.img_logo{
    height:45px;
    width:45px;
    float:left;
    background:url('../Images/logo-min.png');
    background-size:contain;
    margin-right:40px;
    margin-left:10px;
    transition-timing-function:ease-out;
    transition-duration:1s;
}
.img_logo:hover{
     background:url('../Images/logo-medium.png');
     background-size:contain;
     transform:rotate(380deg) scaleX(1.5); 
}
#menu_header {
    width:100%;
}
#top_menu {
    background-color: rgba(0,0,0,0.5) !important;
    border: none !important;
}
/*for active menu <a>*/
.active_nav{
    background-color:rgba(255, 250, 255, 0.8);
    color:#353734 !important;
}
.active_nav:hover {
    background-color:rgba(255, 250, 255, 0.8) !important;
    color:#fff !important;
}
.nav-content > a {
    margin-left:0 !important;
}
.sub_info {
    font-size:22px;
    border-radius:10px;
    margin-bottom:90px;
}
.arrow_infos {
    font-size:20px;
    border-left:4px solid #12bf00;
    text-align:left;
}
.arrow_infos > span{
    color:#2189f3;
    font-variant:small-caps;
}
.arrows {
    width:200px;
    height:200px;
    background-size:contain !important;
    background-repeat:no-repeat !important;
}
.left_arrow{
    background:url(../Images/left-arrow.svg);
    transform:rotate(60deg);
    margin-top:-200px;
    margin-left:2px;
}
.left_arrow_info {
    width:500px;
    margin-left:50px;
}
.right_arrow{
    background:url(../Images/right-arrow.svg);
    transform:rotate(-150deg);
    margin-top:100px;
    margin-right: -66px;
    float:right;
}
.right_arrow_info {
    width:500px;
    float:right;
}
.statistic{
    margin: 90px 0px;    
    font-size:20px;
}
.statistic > div:first-of-type {
    font-size:75px;
    opacity:0.6;
    transition-duration:0.5s;
}
.statistic > div:first-of-type:hover {
    font-size:85px;
    opacity:1;
    cursor:pointer;
}
.caption-local {
    background:rgba(0, 0, 0, 0.5);
    border-radius:4em 0px 4em 0px;
}