@media (max-width: 768px){
    #menu_button {
        display: block;
    }
    .nav-content {
        display: none;
    }
    #nav-fotter{
        display: block !important;
    }
    td{
        padding:10px;
    }
}
@media (max-width: 1024px){
    .nav-content > a {
        font-size:14px;
    }
}
@media screen and (min-width:500px){
    #editor_model{
        text-align:center;
    }
   .editor-label {
        display:inline;
        padding: 0px 10px 0px 0px;
    }
   .editor-field{
       display:inline;
   }
   label{
       margin-top: 10px !important;
       text-overflow: ellipsis;
       white-space: nowrap;
       overflow: hidden;
   }
   .editor-label:nth-child(n)::before{
       
    }
   .editor-field:nth-child(2n)::after{
        content: '';
        width: 100%;
        height: 1px; 
        display:inline-block;
    }
    .text-box {
        width:500px !important;
    }
}
body {
    width:100%;
    margin:0;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "OpenSans",Arial,sans-serif;
}
h1{
    text-align:center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

label {
    width:40%;
    text-align:left;
    word-wrap: break-word;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:200 !important;
    font-size:13pt;
}
input[type=submit]{
    margin:20px;
    border: medium none;
    color: #fff;
    display: inline-block;
    min-width: 72px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition-delay: 0ms;
    transition-duration: 100ms;
    transition-timing-function: ease;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #2073d4;
    border: 1px solid #2073d4;
    float:right;
}
input[type=submit]:hover,
input[type=submit]:active,
input[type=submit]:focus{
    background-color: #005bbe;
}

#block_404 {
     font-variant:small-caps;
}
#nav-fotter{
   display: none;
}
.warning_for_symbol{
   font-size:200px;
   margin:20px;
}

.warning_for_symbol > p{
   padding:20px;
   font-size:25pt;
}

.animate_for_symbol{
    cursor:default;
    transition-timing-function:ease-out;
    transition-duration:0.5s;
    border-radius:50%;
}

.animate_for_symbol:hover{
    transform:rotate(360deg);  
    color:#d9534f;
    box-shadow: inset -5px -5px 0px 5px #8a6d3b;
}

.button_for_symbol {
   font-size:18pt !important;
}


#editor_model{
    margin-top:30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 0.25s ease-in-out 0s;
}

#editor_model:hover{
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.editor-label{
    margin:20px auto 20px auto;
    text-align:center;
    margin-bottom: 10px;
}

.editor-field{
    text-align:center;
    margin:20px auto 20px auto;
    width:50%;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.12);
}

.editor-field:last-of-type{
     border-bottom: none;
}

.clear{
    clear:both;
}

.text-box{
    margin: 4px 8px 7px 0;
    min-height: 40px;
    padding-left: 20px;
    width: 100%;
    border: 1px solid #808080;
}

.text-box:active{
    border: 1px solid #007eff;
}
.custom-combobox {
    position: relative;
    display: inline-block;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}

.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}
table{
    box-shadow: inset 0px 0px 2px 1px lightgrey;
    text-align:center;
    box-sizing:border-box;
    background-color: darkgray;
}
tr {
   background-color: white;
}
thead > tr {
   background-color:whitesmoke;
   font-family:'Malgun Gothic';
   font-size:18px;
}
tr:nth-child(2n) {
   background-color:whitesmoke;
}
tbody > tr:hover {
    box-shadow: inset 0px 0px 1px 2px rgba(0, 144, 255, 0.2);
}
td{
    padding:20px;
}