<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awabi - @ViewBag.Title</title>
    <link href="~/Content/Cs/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/base/theme.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Cs/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
</head>
<body>
    <script>
        $(function () {
           var menu_urls = $(".nav-content").html();
           $(".navbar-nav").append(menu_urls);
           $(document).ready(function () {
               var l = location;
               if (l.pathname == '/') $('.nav-content > a[href="' + l.pathname + '"]').addClass('active_nav');
               else $('.nav-content > a[href*="/'+l.pathname.split("/")[1] + '"]').addClass('active_nav');
           });
        });
    </script>
    @Html.Partial("_Header")

    <div class="container body-content">
        @RenderBody()
        @Html.Partial("_Footer")
    </div>
</body>
</html>