@model WCS.Models.Feedback
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/AbiturientValidate.js"></script>
<div class="center-block text-center">
    <form method="post">
        @Html.EditorForModel();
        <input type="submit" />
    </form>
</div>
