@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WCS.Models.SendForm
@Html.DisplayForModel()
<div>
@Html.ActionLink( "Назад", "Index", "Home", new { id = ViewBag.ID - 1}, new { @class = "navbar-brand" } )
@Html.ActionLink( "Вперед", "Index", "Home", new { id = ViewBag.ID + 1 }, new { @class = "navbar-brand" } )
</div>