@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div align="center" style="text-align:center;">
    <h1>Вітаємо на нашому сайті!</h1>
    <p style="vertical-align:middle;">Сайт учнівського....бла бла бла бла бла бла... та блаблабалбал...</p>
    @Html.ActionLink( "Продовжити", "ListPage", "Note", null, null )
</div>