@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div align="center" style="text-align:center;">
    <h1>Вітаємо на нашому сайті!</h1>
    <p style="vertical-align:middle;">Сайт створений для розрахунку витрат на навчання у вищих учбових закладах України.</p>
    @Html.ActionLink( "Продовжити", "ListPage", "Note", null, null )
</div>