@model WCS.Models.Note
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post">
    <div id="editor_model">
        @Html.EditorForModel()
    </div>
    <input type="submit" title="Отправить" />
    <div class="clear"></div>
</form>