@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>Поля позначені * обов'язкові для заповнення</h3>
    <ol class="round">
        <li class="one">
            <h5>Назва населеного пункту <span class="redstar" aria-hidden="true">*</span></h5>
            <p>
                <select name="location">
                    <optgroup label="Житомирська обл."><option value="1">Житомир</option><option value="2">Вінниця</option><option value="3">Коростень</option></optgroup>
                </select>
            </p>
        </li>

        <li class="two">
            <h5>Назва навчального закладу <span class="redstar" aria-hidden="true">*</span></h5>
            <p>
                <select required name="select_element">
                    <optgroup label="Технічні"><option value="1">Житомирський Державний Політехнічний Університет</option><option value="2">Житомирьский технологічний коледж</option></optgroup>
                    <optgroup label="Педагогічні"><option value="1">Житомирський державний педагогічний університет ім. Франка</option></optgroup>
                </select>
            </p>
        </li>

        <li class="three">
            <h5>Місце проживання <span class="redstar" aria-hidden="true">*</span></h5>
            <p>
                <input required type="radio" class="radio" name="house" value="radio_1" /> З батьками<br />
                <input type="radio" class="radio" name="house" value="radio_2" /> У гуртожитку<br />
                <input type="radio" class="radio" name="house" value="radio_3" /> Знімаю квартиру
            </p>
        </li>
        <li class="four">
            <h5>Оплата зйомної квартири/гуртожитку</h5>
            <label for="text_field"></label><br />
            <input name="cost_house" pattern="{,6}" id="text_field" />
        </li>
        <li class="five">
            <h5>Витрати на проїзд <span class="redstar" aria-hidden="true">*</span></h5>
            <p>
                <input name="cost_arrive" required pattern="{,6}" id="text_field" />
            </p>
        </li>
        <li class="six">
            <h5>Інші витрати (іжа, навчальні посібники, додаткові матеріали) <span class="redstar" aria-hidden="true">*</span></h5>
            <label for="text_field"></label><br />
            <input name="cost_else" required pattern="{,6}" id="text_field" />
        </li>
        <li class="seven">
            <h5>Форма навчання <span class="redstar" aria-hidden="true">*</span></h5>
            <p>
                <input required type="radio" class="radio" name="study_form" value="radio_1" />Денна<br />
                <input type="radio" class="radio" name="study_form" value="radio_2" />Заочна
            </p>
        </li>
    </ol>
    <p align="center">
        <input class="button" type="submit" value="Надіслати" />
    </p>
</div>
