@model WCS.Models.Note
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div align="center">
    <form method="post">
        @Html.EditorForModel();
        <input type="submit" />
    </form>
</div>
